# ==========================================================
# Cromwell
# ==========================================================

cromwell-executions/
**/cromwell-executions/

conf/cromwell/cromwell-db.*
!conf/cromwell/local.conf

# ==========================================================
# Logs
# ==========================================================

*.log
*.out
*.err

logs/
**/logs/

# ==========================================================
# Results
# ==========================================================

results/
**/results/

# ==========================================================
# Data
# ==========================================================

# Все директории data
**/data/**

# Оставляем тестовые данные BRCA
!pipelines/brca/wdl/data/
!pipelines/brca/wdl/data/test/
!pipelines/brca/wdl/data/test/**

# Все референсные данные (т.к. они больше 100Мб)
pipelines/brca/wdl/data/test/reference/**
!pipelines/brca/wdl/data/test/reference/
!pipelines/brca/wdl/data/test/reference/.gitkeep

# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]

# ==========================================================
# R
# ==========================================================

.Rhistory
.RData
.Rproj.user/

# ==========================================================
# OS files
# ==========================================================

.DS_Store
Thumbs.db
